<footer><span></span></footer>
<script type="text/javascript">
  var dt = new Date();
  var getSpan = document.querySelector("footer > span").innerText = "Catherine Kim " + dt.getFullYear();

</script>
