<header>
  <div class="flexContainer">
  <div class='logo'><a href="/">CK</a></div>
  <nav><a href="/#aboutandwork">About</a>
  <a href="/#code">Work</a>
  <a href="/contact">Contact</a></nav>
</div>
</header>
