{{> header}}
<div class="flexContainer">
    <div class="intro">
      <h1>Catherine Kim</h1>
      <h2>Front End Developer</h2>
      <ul>
        <li><a href="https://codepen.io/catkim/" target="_blank"><img src="img/codePen-70.png" alt="CodePen" class="icon"></a></li>
        <li><a href="https://github.com/catkim" target="_blank"><img src="img/GitHub-70.png" alt="GitHub" class="icon"></a></li>
        <li><a href="https://www.linkedin.com/in/catherine-kim-12b5921/" target="_blank"><img src="img/linkedin-70.png" alt="LinkedIn" class="icon"></a></li>
      </ul>
    </div>
</div>
<div class='parallax heightLarge'></div>
   <a name="aboutandwork"></a>
   <div class="flexContainer orange">
       <div class="section pink sectionInfoSec grid-cell">
         <div class="sectionContent ">
           <h3>Front End Developer</h3>
           <p>Technically sophisticated professional with solid history of contributing to the design and development of front end systems.</p>
           <h3>Technical Proficiencies</h3>
           <p>JavaScript, jQuery, Adobe DTM - Launch - Target, AJAX, RESTful APIs, CSS, HTML, SASS, LESS, SEO, Grunt, Gulp, NPM, Webpack, Yarn, Express, Node, Handlebars, Dust, Jekyll, Git, Responsive Design, SQL, PHP</p>
         </div>
       </div>
       <div class="section orange sectionInfoSec grid-cell">
         <div class="sectionContent">
           <h3>Professional Experience</h3>
            <p><strong>Princess Cruise Lines</strong>:<br>Senior Web Analytics Developer/JavaScript Developer  <span class="dateText">(9/2017 – present)</span></p>
             <p><strong>Agfa Graphics</strong>:<br>Responsive Web Developer  <span class="dateText">(1/2017 – 7/2017)</span></p>
             <p><strong>Blue Shield of California</strong>:<br>Senior Front End Web Developer  <span class="dateText">(5/2005 – 12/2016)</span></p>
             <p><strong>SMARTpages.com</strong>:<br>Technical Producer <span class="dateText">(4/2001 - 5/2003)</span></p>

         </div>
       </div>
</div>


<div class="parallax heightMed"></div>
<a name="code"></a>
<div class="flexContainer">
   <div class="section lightBlue sectionCodeSec grid-cell">
     <div class="sectionContent codeSample">
       Code example for AJAX/JSON using jQuery .getJSON:
       <p><a href="" title="Make sure pop up blocker is turned off for this site" id="ajax" class="codeExp"> Click here for pop up</a></p>
     </div>
   </div>
   <div class="section moccasin sectionCodeSec grid-cell">
     <div class="sectionContent codeSample">
       Code example for form using HTML5:
       <p><a href="" title="Make sure pop up blocker is turned off for this site" id="form" class="codeExp"> Click here for pop up</a></p>
     </div>
   </div>
   <div class="section mintGreen sectionCodeSec grid-cell">
     <div class="sectionContent codeSample">
      Code example for data visualization with Flot.js:
       <p><a href="" title="Make sure pop up blocker is turned off for this site" id="flot" class="codeExp"> Click here for pop up</a></p>
     </div>
   </div>
</div>
<div class='parallax heightSmall'></div>
<div class="modal" id="modal">

   <div class="modal-content">
    <div class="modal-header">
     <span class="close">&times;</span>
     <h4></h4>
   </div>
   <div id="holder">
   </div>
  <script async src='https://production-assets.codepen.io/assets/embed/ei.js'></script>

   </div>
</div>
{{> footer}}
